<div class="header center">
  <h1>Log into Chitchat</h1>
</div>
<div class="row center">
  <form class="">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" name="userName" class="validate" [(ngModel)]="userName" placeholder="Username" required>
        <button type="submit" class="btn-large waves-effect waves-light" (click)="onLogin()">Login</button>
      </div>
    </div>
  </form>
</div>
<div class="" *ngIf="loginFailed">
  Sorry, This username is already taken.
</div>
