body {
    background: #1f8dd6;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;;
    overflow: hidden;
    color: white;
}
