<ul name="messages"></ul>

<form class="pure-form">
</form>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea [(ngModel)]="message" [ngModelOptions]="{standalone: true}" id="message" class="materialize-textarea" ngDefaultControl ></textarea>
        <label for="message">Message</label>
      </div>
    <div class="row">
      <button class="btn waves-effect waves-light" (click)="sendMsg()" type="submit" name="action">Send
        <i class="material-icons right">send</i>
      </button>
    </div>
    </div>
  </form>
</div>
