<div class="row">
  <div class="center">
    <h1>Chitchat</h1>
  </div>

  <div class="col s12">
    <div class="row">
      <div class="head col s9">
        <h3>{{roomId}}</h3>
      </div>

      <div class="input-field col s3">
        <button class="btn waves-effect waves-light" type="submit" (click)="partRoom()" name="action">Leave</button>
      </div>
    </div>

    <div class="row">
      <div class="col s9">
        <ul #chatbox name="messages" class="chatbox collection">
          <li class="row collection-item" *ngFor="let message of messages">
            {{message.nick}}: {{message.message}}
          </li>
        </ul>
      </div>
      <div class="col s3">
        <ul #userbox name="users" class="chatbox collection">
          <li class="row collection-item" *ngFor="let op of ops">
            OP: {{op}}
          </li>
          <li class="row collection-item" *ngFor="let user of users">
            <p *ngIf="userIsOp">
              <button class="btn waves-effect waves-light" (click)="kickUser(user)">kick</button>
              <button class="btn waves-effect waves-light" (click)="banUser(user)">ban</button>
              <a>User: {{user}}</a>
            </p>
            <p *ngIf="!userIsOp">
              User: {{user}}
            </p>

          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <form [formGroup]="messageForm" (ngSubmit)="sendMsg()" class="col s12">
        <div class="row">
          <div class="input-field col s9">
            <input formControlName="message" id="message" class="validate" required>
            <label class="active" for="message">Message</label>
          </div>
          <div class="input-field col s3">
            <button class="btn waves-effect waves-light" type="submit" name="action">Send
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
